.app-filter-options-container {
  display: block;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 24px;
  left: 0;
  z-index: 100;
  font-family: Graphik-Regular;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  border: 2px solid rgb(34, 34, 34);
  border-radius: 8px;
  box-shadow: rgba(29, 71, 123, 0.08) 0px 10px 22px 0px, rgba(29, 71, 123, 0.08) 0px 2px 12px 0px;

  .app-filter-options-item {
    display: inline-block;
    text-decoration: none;
    padding: 5px 16px;
    min-width: 126px;
    color: rgb(34, 34, 34);
  }
}
